:root {
    --cor-primaria: #fce9e9;
    --cor-secundaria: #25215e;

}

*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/assets/images/5297078.jpg);
    background-position: center;
    background-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#hide {
    display: none !important;
}

h1 {
    color: var(--cor-secundaria);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.container--form {
    min-width: 450px;
    min-height: 450px;
    background-color: var(--cor-primaria);
    padding: 2rem;
    border-radius: 15px;
}

.container--form {
    padding: 2rem;
    border-bottom: 2px solid var(--cor-secundaria);
    transition: .3s;
}

::placeholder {
    color: var(--cor-secundaria);
}

.form--input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    color: var(--cor-secundaria);
    font-weight: bold;
    margin-bottom: .6rem;
}

input {
    background-color: var(--cor-primaria);
    padding: 1rem;
    margin-bottom: .5rem;
    border-radius: 0.8px solid var(--cor-secundaria);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
    
}

button {
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: var(--cor-secundaria);
    border: none;
    color: var(--cor-primaria);
    cursor: pointer;
    transition: 0.4s;
    flex: 1;
}

button:hover {
    background-color: #766df0;
    color: var(--cor-primaria);
}

.result--container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.imc--number {
    font-size: 2.4rem;
    margin-top: 1rem;
    margin-bottom: .6rem;
}

.imc--information {
    font-size: 1.4rem;
    margin-bottom: .6rem;
}


